@tailwind base;
@tailwind components;
@tailwind utilities;


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 31, 56, 99;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #d5d5d5;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
